<!DOCTYPE html>
<html class="html">
  <head>
  <title> Easi Peasi index Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bayon&family=Bona+Nova&family=Darker+Grotesque:wght@400;700&display=swap"
    rel="stylesheet">
  </head>
  <body>
  <!-- title of page -->
  <h1 class="text"> Easi Peasi Finance Tracker</h1>
  <!-- text on the page -->
  <h2 class="text">Welcome</h2>
    <p class="text">
      login stuff lmfao
    </p>
    <br>
    <!-- <div class="quote">
      <p style="font-family: 'Bona Nova', serif; font-style: italic; font-size: 40px;"> 
        “There is no such thing as ‘away’.
        When we throw anything away it must go somewhere.”
      </p>
      <p> - Annie Leonard, Proponent of Sustainability</p>
    </div> -->
  </body>

  <footer>
    <br>
    <p class="caption">
      Thank you for your time. <br> Designed, Created, and Implented by Emily, Annie, Seungha, and Ivy.
    </p>
    <!-- <img style="border:0;width:100%" src="banner.png" alt="website banner" title="sustainibility"> -->
  </footer>
</html>